Godeps/_workspace/
PICC/
apache-maven-3.3.9/
apache-maven.rc
#etc/
fedora_virtualbox_inst.box
go.rc
go1.6.2.linux-amd64.tar.gz
server923_generic.jar

/_output
/openshift.local.*
/third-party
/.project
/.vagrant
/.vscode
/.settings
/cpu.pprof
/assets/app/config.local.js
/assets/nbproject
/examples/sample-app/openshift.local.*
/examples/sample-app/logs/openshift.log
/dind-*.rc
/os-version-defs
/.make/
*.swp
.vimrc
.vagrant-openshift.json*
.DS_Store
.idea
origin.iml
*.pyc
.tag*
.project
*.go~
tags
.envrc
