[Unit]
Description=etcd3
Conflicts=etcd.service etcd2.service

[Service]
#User=etcd
Type=notify

#Environment=ETCD_DATA_DIR=/var/lib/etcd2
Environment=ETCD_DATA_DIR=/tmp/k8s-etcd3

#Environment=ETCD_NAME=%m
ExecStart=/data/src/github.com/coreos/etcd/bin/etcd
Restart=always
RestartSec=10s
LimitNOFILE=40000
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
